[Unit]
Description=CivicNet (${{ values.componentId }}) full node
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=civicnet
Group=civicnet
ExecStart=/usr/local/bin/civicnetd -conf=/etc/civicnet/civicnet.conf -datadir=/var/lib/civicnet
Restart=on-failure
RestartSec=10
# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/var/lib/civicnet

[Install]
WantedBy=multi-user.target
