[Unit]
Description=${{ values.coinName }} Node (${{ values.componentId }})
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=30
Restart=always
RestartSec=10
# Recreate the container on each start so image/config changes are picked up.
ExecStartPre=-/usr/bin/docker stop ${{ values.componentId }}
ExecStartPre=-/usr/bin/docker rm ${{ values.componentId }}
ExecStart=/usr/bin/docker run \
  --name ${{ values.componentId }} \
  -p ${{ values.rpcPort }}:${{ values.rpcPort }} \
  -p ${{ values.p2pPort }}:${{ values.p2pPort }} \
  -p 28332:28332 \
  -p 28333:28333 \
  -p 28334:28334 \
  -p 28335:28335 \
  -v ${{ values.componentId }}-data:/root/.${{ values.coinName | lower }} \
  -v /root/.${{ values.coinName | lower }}/${{ values.coinName | lower }}.conf:/root/.${{ values.coinName | lower }}/${{ values.coinName | lower }}.conf:ro \
  ${{ values.imageRepo }}:${{ values.imageTag }}
ExecStop=/usr/bin/docker stop ${{ values.componentId }}

[Install]
WantedBy=multi-user.target
